
<h1>Login</h1>
<%= form_with scope: :session url: "/sessions/new" do |form| %>
  

 <div class=”field”>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>  
  
  <div class=”field”>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>   

  
 <div class=”actions”>
    <%= submit_tag "Login" %>
  </div> 
<% end %>